
enterpriseId=11
outputDirectory=D:/AutoUI_out
configDirectory=D:/workspace/AutoUI/
outputDirectoryTemp=D:/AutoUI
testPlanDirectory=D:/workspace/AutoUI/test_plan
testCasesDirectory=D:/workspace/AutoUI/test_cases
planXmlFileName=transera
folderPath=
baseDirectory=D:/workspace/AutoUI/
testCaseDuration=80000

cdUrl=http://
cdUserName=
cdPassword=
tenant=


odUrl=http://
odUserName=
odPassword=



Selenium_port_number=4444
## Set "true" to run as Grid, You must create Grid Hub and Node if set to "true"
seleniumGrid=false
## chrome,ie, firefox default is firefox
browser=firefox




