<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Monitoring" parallel="false">
  <test name="AddContinuousMonitoring">
    <classes>
       <class name="com.transera.test.TestNGExample"/>
    </classes>
  </test> <!-- AddContinuousMonitoring -->
</suite> <!-- Monitoring -->
